html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: bold 14px/20px "PT Sans Narrow", "Arial", serif;
	color: #000000;
	text-transform: uppercase;


}
.container {
    width: 960px;
    margin: 0 auto;
    padding: o 10px;
   

}
.clearfix::after {
  content: "";

  display: block;
  clear: both;
}

h1 {
	font: bold 30px/42px "PT Sans Narrow", "Arial", serif;
	color: #000000;
	margin: 0 0 16px 0;
	padding: 0;
}

h2 {
	font: bold 24px/30px "PT Sans Narrow", "Arial", serif;
	color: #000000;
	margin: 0 0 35px 0;
	padding: 0;
}

/*HEADER*/

header {
	background-color: #000000;
	color: #ffffff;
	margin: 0 0 60px 0;
}

div.logo {
	width: 112px;
	float: left;
	margin: 20px 40px 20px 0px;
}

.main-menu {
	width: 510px;
	float: left;
	padding: 0;
	margin: 0;

}

.main-menu ul {
	padding: 0;
	margin:  25px 0 25px 0;
}

.main-menu li {
	display: inline-block;
	padding: 0;
	margin: 0;

}

.main-menu a {
	padding: 0;
	margin: 0;
	color: #ffffff;
	text-decoration: none;

}

.main-menu a:nth-child(1),
.main-menu a:nth-child(2),
.main-menu a:nth-child(3),
.main-menu a:nth-child(4) { 
	padding-right: 35px;

}

div.entrance {
	width: 75px;
	float: right;
	margin:  25px 0 17px 0;
}

/*div.entrance::before {
	content: "";
	position: relative;
	background: url(img/icon-login.png);
}*/
div.entrance a{
	color: #ffffff;
	text-decoration: none;
}



/*MAIN*/

.secondary-menu {
	width: 300px;
	margin: 0;
	padding: 0;
}

.menu-item {
	margin: 0 0 45px 0;
	padding: 0;
}

li.menu-link {
	display: inline-block;
	margin: 0;
	padding: 0 26px 0 0;
}
li.menu-link a {
   color: #000000;
	text-decoration: none;
}

li:last-chold .menu-link {
	margin: 0;
	padding: 0;
}

.form-directory {
	width: 240px;
	margin: 0;
	padding: 0;

}
form {
	width: 175px;
	
	margin: 0 auto;
	padding: 0;
	float: left;
}

.sites-bar {
	margin: 0 0 55px 0;
	padding: 0;
}

.group-products {
	margin: 0 0 50px 0;
	padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
   width: auto;
    padding: 10px 0 0 0;
}

label {
    display: block;
    width: auto;
    padding: 0;
}

div.btn {
	display: inline-block;
    width: auto;
    margin: 0 5px;
    padding: 0;
}

div.btn a {
	padding: 17px 28px;
	color: #ffffff;
    background: #000000;
    border: none;
    text-decoration: none;
    font: bold 13px/18px "PT Sans Narrow", "Arial", serif;

}

.paginator {
	width: 195px;
	margin: 45px 0 0px 0;
	padding: 0;
	white-space: nowrap;
    
}

.paginator a {
	display: inline-block;
	min-width: 44px;
    height: 44px;
    padding: 0;
    margin: 0 7px 0 0;
    background: #000000;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font: bold 14px/18px "PT Sans Narrow", "Arial", serif;
}

.paginator a:hover {
	background: #ffffff;
    color: #000000;
}
section.choice-goods {
	width: 720px ;
	margin: 0;
	padding: 0;
	float: right;
}
article {
	width: 220px;
	display: inline-block;
	margin: 0;
	padding: 0 20px 0 0;
	vertical-align: top;
	
}

article:nth-child(3),
article:nth-child(6) {
	padding-right: 0;

}

article h1 {
	font-size: 14px;
	line-height: 18px;
}
/*FOOTER*/

footer {
	background-color: #000000;
	color: #ffffff;
	margin: 50px 0 0 0; 
	padding: 0;
}
.footer-contacts {
    width: 330px;
    float: left;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-social {
	width: 160px;
	float: left;
	 padding-top: 60px;
    padding-bottom: 40px;
}
.footer-copyright {
	width: 160px;
	float: right;
	 padding-top: 60px;
    padding-bottom: 40px;
}