@font-face {
  font-family: "PT Sans Narrow";
  src:
   url("../fonts/PTSans/PTN57F.ttf") format("truetype"),
    url("../fonts/PTSans/PTN77F.ttf") format("truetype"),
    url("../fonts/PTSans/PTS55F.ttf") format("truetype"),
     url("../fonts/PTSans/PTS75F.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: bold 14px/24px "PT Sans Narrow", "Arial", serif;
	color: #000000;
	text-transform: uppercase;
}

h1 {
	font: bold 30px/42px "PT Sans Narrow", "Arial", serif;
    color: #000000;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: o 10px;
   

}
.clearfix::after {
  content: "";

  display: block;
  clear: both;
}
/*HEADER*/

/*HEADER*/

header {
	background-color: #000000;
	color: #ffffff;
	margin: 0 0 60px 0;
}

.logo {
	width: 112px;
	float: left;
	margin: 20px 37px 25px 0px;
}

.main-menu {
	width: 540px;
	float: left;
	padding: 0;
	margin: 0;

}

.main-menu ul {
	padding: 0;
	margin:  25px 0 25px 0;
}

.main-menu li {
	display: inline-block;
	padding: 0;
	margin: 0;

}

.main-menu a {
	font: bold 16px/20px "PT Sans Narrow", "Arial", "sans-serif";
	padding: 0;
	margin: 0;
	color: #ffffff;
	text-decoration: none;

}

.main-menu a:nth-child(1),
.main-menu a:nth-child(2),
.main-menu a:nth-child(3),
.main-menu a:nth-child(4) { 
	padding: 0 35px 0 0;

}

div.entrance {
	width: 75px;
	float: right;
	margin:  22px 18px 0 0;
}

/*div.entrance::before {
	content: "";
	position: relative;
	background: url(img/icon-login.png);
}*/
div.entrance a {
	font: bold 16px/20px "PT Sans Narrow", "Arial", "sans-serif";
	color: #ffffff;
	text-decoration: none;
}


/*MAIN*/
.bread-crumbs {
	width: 160px;
	margin: 0;
	padding: 0;
}

.menu-item {
	width: 160px;
	margin: 20px 0 0 0;
	padding: 0;
}

.menu-item li{
	
	display: inline-block;
	margin: 0;
	padding: 0 22px 0 0;
}
.menu-link li {
	margin: 0;
	padding: 0;
}
.menu-item a {
   color: #000000;
	text-decoration: none;
}


div.title {
	width: 580px;
	font-size: 48px;
	font-weight: bold;
	line-height: 48px;
	margin: 0 auto;
	/*display: inline-block;*/
	padding-top: 55px;
	padding-bottom: 65px;
}

.column-left {
	width: 380px;
	float: left;

}

.column-right {
	width: 470px;
	float: right;

}

/*FOOTER*/

footer {
	background-color: #000000;
	color: #ffffff;
	margin-top: 140px; 
}
.footer-contacts {
    width: 330px;
    float: left;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-social {
	width: 160px;
	float: left;
	 padding-top: 60px;
    padding-bottom: 40px;
}
.footer-copyright {
	width: 160px;
	float: right;
	 padding-top: 60px;
    padding-bottom: 40px;
}